<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
    html {
        font-size: 10px;
        line-height: 1;
        box-sizing: border-box;
    }
    body {
        background-color: rgb(85, 101, 119);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
        font: normal normal 1rem/1 sans-serif;
    }
    h1 {
        font-size: 6rem;
    }
    p {
        font-size: 4rem;
    }
    </style>
</head>
<body>
    <h1>Contacts</h1>
    <p>Some paragraph</p>
</body>
</html>